name: "Python CI"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python:
          - "3.11"
          - "3.12"

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Run tox
        uses: lsst-sqre/run-tox@f05a56903e31b8047eedde87a90b0a79b8157d21 # v1
        with:
          python-version: ${{ matrix.python }}
          tox-envs: "lint"

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python:
          - "3.11"
          - "3.12"

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Run tox
        uses: lsst-sqre/run-tox@f05a56903e31b8047eedde87a90b0a79b8157d21 # v1
        with:
          python-version: ${{ matrix.python }}
          tox-envs: "py,coverage-report"
